@mixin content-center-justifyed {
    display: flex;
    justify-content: center;
}

$bg-color-primary: white;

.ddd-input{
    &__modal{
        @include content-center-justifyed;
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0,0,0,0.4);
        &_container {
            display: block;
            position: relative;
            top: 10vh;
            width: 40vw;
            @media only screen and (max-width: 600px) {
                width: 90vw;
            }
            &__close-button {
                right: -9px;
                top: -9px;
                position: absolute;
                background-color: $bg-color-primary;
                border: none;
                color: black;
                font-weight: bold;
                cursor: pointer;
            }
            &__list {
                border: 10px solid $bg-color-primary;
                background-color: $bg-color-primary;
                &_item {
                    display: flex;
                    align-items: center;
                    background-color: #ccc;
                    color: grey;
                    margin: 0;
                    min-height: 30px;
                    padding-left: 10px;
                }
                &_item:nth-child(odd) {
                    background: #bbb;
                }
                &_item:hover {
                    box-shadow: inset 0px 0px 7px 0px rgba(100, 180, 255, 0.7);
                    cursor: pointer;
                }
            }
        }
    }
    &__display {
        display: grid;
        grid-template-columns: 70px 50px;
        grid-column-gap: 10px;
        grid-template-rows: auto;
        grid-row-gap: 5px;
        grid-template-areas: 
            "label ."
            "input button";
        &__label {
            grid-area: label;
            justify-self: center;
            color: grey;
            font-size: .75em;
        }
        &__input {
            grid-area: input;
            height: 25px;
            border: none;
            background-color: #aaaaaa;
            color: white;
            text-align: center;
        }
        &__button {
            grid-area: button;
            justify-self: start;
            align-self: center;
            width: 20px;
            height: 20px;
            color: white;
            background-color: #aaaaaa;
            border: none;
        }
    }
}