<div class="ddd-input__display">
  <label for="{{componentId}}" class="ddd-input__display__label">
    {{title}}
  </label>
  <input 
    id="{{componentId}}" name="{{componentId}}" 
    type="text" [value]="location.ddd || ''" 
    class="ddd-input__display__input" disabled>
  <button type="button" (click)="showModal = true" class="ddd-input__display__button">
    +
  </button>
</div>

<div *ngIf="showModal" class="ddd-input__modal">
  <div class="ddd-input__modal_container">
    <button type="button" (click)="showModal = false" class="ddd-input__modal_container__close-button">
      x
    </button>
    <div class="ddd-input__modal_container__list">
      <p *ngFor="let location of locations" (click)="defineDDD(location)" class="ddd-input__modal_container__list_item">
        {{location.ddd}} {{location.city}}
      </p>
    </div>
  </div>
</div>
