$border-color: #dddddd;

.main {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    &__header {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        margin-top: 10vh;
        &_image {
            background-image: url("../assets/images/logo.png");
            background-repeat: no-repeat;
            background-size: 100%;
            height: 50px;
            width: 100px;
            justify-self: right;
        }
        &_title {
            margin: 0;
            justify-self: left;
            font-weight: 300;
            color: grey;
            padding-left: 10px;
            &--decoration {
                font-weight: 700;
                font-size: .7em;
                position: relative;
                top: -15px;
                left: -10px;
                opacity: .6;
                &--decoration {
                    font-size: .7em;
                    position: relative;
                    top: -10px;
                    left: -10px;
                    opacity: .6;
                }
            }
        }
    }
    &__title {
        margin: 3vh 0 15px 0;
        align-self: center;
        font-size: 1.5em;
        font-weight: 300;
        color: grey;
    }
    &__inputs {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-template-areas: "origin destiny minutes";
        grid-row-gap: 10px;
        width: 70vw;
        padding-bottom: 10vh;
        border-bottom: 1px $border-color solid;
        align-self: center;
        justify-content: center;
        @media only screen and (max-width: 460px) {
            grid-template-columns: auto;
            grid-template-rows: auto auto auto;
            grid-template-areas: "origin" "destiny" "minutes";
            &__origin-input {
                grid-area: origin;
            }
            &__destiny-input {
                grid-area: destiny;
            }
            &_minutes-container {
                grid-area: minutes;
            }
        }
        &__origin-input {
            grid-area: origin;
        }
        &__destiny-input {
            grid-area: destiny;
        }
        &_minutes-container {
            grid-area: minutes;
            width: 100px;
            display: grid;
            grid-template-rows: auto auto;
            grid-row-gap: 5px;
            &__label {
                font-size: .75em;
                color: grey;
                text-align: center;
                justify-self: center;
            }
            &__input {
                background-color: #aaaaaa;
                border: none;
                color: white;
                height: 25px;
                width: 100%;
            }
        }
    }
    &__outputs {
        width: 100vw;
        margin: 10vh 0 auto 0;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        @media only screen and (max-width: 700px) {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            grid-row-gap: 20px;
            &__output {
                margin: 0 0 auto 0;
            }
            &__output:nth-child(even) {
                border: none;
            }
        }
        &__output {
            align-self: center;
            justify-self: stretch;
            border-right: 1px $border-color solid;
            padding: auto;
            &--without-border {
                border: none;
            }
        }
    }
    &__footer {
        width: 90vw;
        align-self: center;
        text-align: center;
        color: grey;
        font-size: .75em;
        border-top: 1px $border-color solid;
        padding-top: 3px;
        margin-bottom: 5vh;
    }
}