<div class="main">
    <div class="main__header">
        <div class="main__header_image"></div>
        <h1 class="main__header_title">
            Fale
            <span class="main__header_title--decoration">
                +
                <span class="main__header_title--decoration--decoration">
                    +
                </span>
            </span>
        </h1>
    </div>
    
    <h4 class="main__title">Comprar Planos</h4>
    
    <div class="main__inputs">
        <app-ddd-input title="Origem" (onsetvalue)="changeOrigin($event)" class="main__inputs__origin-input">
        </app-ddd-input>
        <app-ddd-input title="Destino" (onsetvalue)="changeDestiny($event)" class="main__inputs__destiny-input">
        </app-ddd-input>
        <div class="main__inputs_minutes-container">
            <label for="minutes" class="main__inputs_minutes-container__label">Minutos</label>
            <input 
                id="minutes" name="minutes" 
                [(ngModel)]="minutes" maxlength="4" 
                type="text" class="main__inputs_minutes-container__input">
        </div>
    </div>
    
    <div class="main__outputs">
        <app-plan-output 
            *ngFor="let plan of plans" 
            title="{{plan.plan}}" 
            [minutes]="minutes" 
            [origin]="origin" 
            [destiny]="destiny" 
            descount="{{plan.time}}"
            class="main__outputs__output">
        </app-plan-output>
        <app-plan-output 
            title="Normal" 
            [minutes]="minutes" 
            [origin]="origin" 
            [destiny]="destiny" 
            descount="0"
            class="main__outputs__output--without-border">
        </app-plan-output>
    </div>

    <p class="main__footer">CI&T Telecomunicações &copy;2018</p>
</div>

