<div class="plan-output">
  <p class="plan-output__title">{{title}}</p>
  <div *ngIf="result.length" class="plan-output_container">
    <span class="plan-output_container__brl">R$</span>
    <span class="plan-output_container__integer-value">{{result[0]}}</span>
    <span class="plan-output_container__decimal-value">,{{result[1]}}</span>
  </div>
  <div *ngIf="!result.length" class="plan-output--no-content">
    <span>-</span>
  </div>
</div>
