.plan-output {
    display: grid;
    grid-template-columns: auto; 
    grid-template-rows: auto auto;
    grid-template-areas: 
    "label"
    "container";
    &__title {
        grid-area: label;
        margin: 0;
        align-self: start;
        justify-self: center;
        font-size: .75em;
    }
    &_container {
        grid-area: container;
        display: grid;
        grid-template-columns: auto auto auto; 
        grid-template-rows: auto;
        grid-template-areas: "brl integer decimal";
        justify-content: center;
        &__brl {
            grid-area: brl;
            font-size: .75em;
            align-self: end;
            justify-self: right;
            position: relative;
            bottom: 5px;
        }
        &__integer-value {
            grid-area: integer;
            justify-self: center;
            font-size: 2em;
        }
        &__decimal-value {
            grid-area: decimal;
            font-size: .75em;
            align-self: end;
            justify-self: left;
            position: relative;
            bottom: 5px;
        }
    }
    &--no-content {
        font-size: 2em;
        justify-self: center;
    }
}